
hs*
lactose*
langs*
qrcs*
r5rs*
python/
tz/*
*.scm~
*.aux
*.synctex.gz
*.log
*.key
*.doc
*.ppt
*.pptx
*.scm#1#

*.sm~

*.sm~

*.sm~

examples/sample1.sm~

mllang/build.scm

mllang/runtests.scm

tests/out/*

mllang/build/*

*.scm#2#

dev/generated.sm

*.sm#1#

dev/generated.scm
